fastapi
uvicorn
langchain
langchain-core
langchain-groq
langchain-google-genai
langchain-ollama
langchain-openai
langchain-community
langgraph
tavily-python
beautifulsoup4
requests
lxml
python-dotenv
pydantic
tenacity
rich
tiktoken
python-multipart